<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283928198587-unmvlg84mh7dummsepok1f1mt18osu0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283928198587-unmvlg84mh7dummsepok1f1mt18osu0q</string>
	<key>API_KEY</key>
	<string>AIzaSyCd90wFIy3ZT4BO2XcU2BOne_Nsr1EYCH4</string>
	<key>GCM_SENDER_ID</key>
	<string>283928198587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratyush.dormify</string>
	<key>PROJECT_ID</key>
	<string>dormify-now</string>
	<key>STORAGE_BUCKET</key>
	<string>dormify-now.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283928198587:ios:aca41e13a42a5b74b9989e</string>
</dict>
</plist>